@import "./variables.scss";
@import "./mixins.scss";

// RESET
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// LAYOUTS
.l-container {
    max-width: 1600px;
    margin: 0 auto;
}
.l-row {
    display: flex;
    flex-direction: row;
}
.l-spaceBetween {
    justify-content: space-between;
}
.l-alignCenter {
    align-items: center;
}

// COMPONETS
.c-link {
    text-decoration: none;
    color: inherit;
}
.c-btn {
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 1rem;
    color: inherit;
    background-color: $water;

    &--blue {
        @include bgGradient(90deg, $water, $lightBlue);

        &:hover {
            @include bgGradient(270deg, $water, $lightBlue);
        }
    }

    &--red {
        @include bgGradient(90deg, $salmon, $magenta);

        &:hover {
            @include bgGradient(270deg, $salmon, $magenta);
        }
    }
}

// HELPERS
.h-bg--primary {
    background: $blue;
}

.h-listReset {
    list-style: none;
}