@import "./variables.scss";
@import "./mixins.scss";

// RESET
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// RESET STRONG
strong {
  font-weight: 900;
}

// LAYOUTS
.l-container {
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}
.l-grid {
    display: grid;
    
    &--colAuto {
        grid-template-rows: 1;
        grid-template-columns: auto;
        column-gap: 1rem;
    }
}
.l-row {
    display: flex;
    flex-direction: row;

    &--reversed {
        flex-direction: row-reverse;
    }
}
.l-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    &--half {
        width: 50%;
    }
    &--1third {
        width: calc(100% / 3);
    }
    &--2third {
        width: calc(100% * 2 / 3);
    }
    &--1fourth {
        width: 25%;
    }
}
.l-spaceAround {
    justify-content: space-around;
}
.l-spaceBetween {
    justify-content: space-between;
}
.l-alignCenter {
    align-items: center;
}
.l-alignStart {
    align-items: flex-start;
}
.l-alignEnd {
    align-items: flex-end;
}
.l-justifyCenter {
    justify-content: center;
}
.floatLeft {
    display: float;
    float: left;
}
// COMPONETS
.c-pretitle {
  font-weight: 400; 
  text-transform: capitalize;
}
.c-title {
  font-weight: 400;
  text-transform: capitalize; 
}
.c-text {
  font-weight: 400;
  line-height: 1.5;
}


.c-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
        color: $magenta;
    }
}
.c-btn {
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 2rem;
    color: $gray-900;
    background-color: $white;
    text-transform: capitalize;
    border: none;
    &:hover {
        cursor: pointer;
    }

    &--blue {
        color: $white;
        @include bgGradient(90deg, $water, $blue);

        &:hover {
            @include bgGradient(270deg, $water, $blue);
        }
    }

    &--red {
        color: $white;
        @include bgGradient(90deg, $salmon, $magenta);

        &:hover {
            @include bgGradient(270deg, $salmon, $magenta);
        }
    }

    &--arrow {
        color: $magenta;
        padding: .5rem 1rem;

        &::after {
            content: ">";
            margin-left: 1.5rem;
        }
        &Red {
            color: $white;
            @include bgGradient(0deg, $salmon, $magenta);
            
            &:hover {
                @include bgGradient(180deg, $salmon, $magenta);
            }
        } 
    }
    
}

// HELPERS
.h-listReset {
  list-style: none;
}
// colors variation
.h-bg--white,
.c-card.h-bg--white {
  background: white;
  .c-pretitle {
    color: $gray-900;
  }
  .c-title {
    color: $gray-900;
  }
  .c-subtitle {
    color: $gray-500;
  }
  .c-text {
    color: $gray-500;
  }
}
.h-bg--redGradient,
.c-card.h-bg--redGradient {
  @include bgGradient(330deg, $salmon, $magenta);
  .c-pretitle {
    color: $white;
  }
  .c-title {
    color: $white;
  }
  .c-subtitle {
    color: $white;
  }
  .c-text {
    color: $white;
  }
}
.h-bg--blueGradient,
.c-card.h-bg--blueGradient {
  position: relative;
  z-index: 2;
  color: $white;
  @include bgGradient(180deg, $blue, $darkBlue);

  .c-pretitle {
    color: $white;
  }
  .c-title {
    color: $white;
  }
  .c-subtitle {
    color: $white;
  }
  .c-text {
    color: $water;
  }
}
.h-bg--darkBlue,
.c-card.h-bg--darkBlue {
  position: relative;
  z-index: 2;
  @include bgGradient(180deg, $blue, $darkBlue);

  .c-pretitle {
    color: $white;
  }
  .c-title {
    color: $white;
  }
  .c-subtitle {
    color: $white;
  }
  .c-text {
    color: $white;
  }
}

.h-textCenter {
  text-align: center;
}


// Padding and margin
$sizes: .5rem, 1rem, 2rem, 3rem, 4rem, 5rem;

// Padding helpers
@each $size in $sizes {
  $i : index($sizes, $size);  
  .h-p--#{$i} {
    padding: $size;
  }
  .h-py--#{$i} {
    padding-top: $size;
    padding-bottom: $size;
  }
  .h-px--#{$i} {
    padding-right: $size;
    padding-left: $size;
  }
  .h-pr--#{$i} {
    padding-right: $size;
  }
  .h-pl--#{$i} {
    padding-left: $size;
  }
  .h-pt--#{$i} {
    padding-top: $size;
  }
  .h-pb--#{$i} {
    padding-bottom: $size;
  }
}

// Margin helpers
@each $size in $sizes {
  $i : index($sizes, $size);  
  .h-m--#{$i} {
    margin: $size;
  }
  .h-my--#{$i} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .h-mx--#{$i} {
    margin-right: $size;
    margin-left: $size;
  }
  .h-mr--#{$i} {
    margin-right: $size;
  }
  .h-ml--#{$i} {
    margin-left: $size;
  }
  .h-mt--#{$i} {
    margin-top: $size;
  }
  .h-mb--#{$i} {
    margin-bottom: $size;
  }
}