@import "./variables.scss";
@import "./mixins.scss";

// RESET
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

// LAYOUTS
.l-container {
    max-width: 1600px;
    margin: 0 auto;
}
.l-grid {
    display: grid;
    
    &--colAuto {
        grid-template-rows: 1;
        grid-template-columns: auto;
        column-gap: 1rem;
    }
}
.l-row {
    display: flex;
    flex-direction: row;

    &--reversed {
        flex-direction: row-reverse;
    }
}
.l-col {
    display: flex;
    flex-direction: column;
    width: 100%;
    &--half {
        width: 50%;
    }
    &--1third {
        width: calc(100% / 3);
    }
    &--2third {
        width: calc(100% * 2 / 3);
    }
    &--1fourth {
        width: 25%;
    }
}
.l-spaceBetween {
    justify-content: space-between;
}
.l-alignCenter {
    align-items: center;
}
.l-justifyCenter {
    justify-content: center;
}

// COMPONETS
.c-link {
    text-decoration: none;
    color: inherit;

    &:hover {
        cursor: pointer;
        color: $magenta;
    }
}
.c-btn {
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: 1rem;
    color: $white;
    background-color: $water;
    text-transform: capitalize;
    &:hover {
        cursor: pointer;
    }

    &--blue {
        @include bgGradient(90deg, $water, $lightBlue);

        &:hover {
            @include bgGradient(270deg, $water, $lightBlue);
        }
    }

    &--red {
        @include bgGradient(90deg, $salmon, $magenta);

        &:hover {
            @include bgGradient(270deg, $salmon, $magenta);
        }
    }
}

// HELPERS
$sizes: .5rem, 1rem, 2rem, 3rem;

// Padding helpers
@each $size in $sizes {
  $i : index($sizes, $size);  
  .h-p--#{$i} {
    padding: $size;
  }
  .h-py--#{$i} {
    padding-top: $size;
    padding-bottom: $size;
  }
  .h-px--#{$i} {
    padding-right: $size;
    padding-left: $size;
  }
  .h-pr--#{$i} {
    padding-right: $size;
  }
  .h-pl--#{$i} {
    padding-left: $size;
  }
  .h-pt--#{$i} {
    padding-top: $size;
  }
  .h-pb--#{$i} {
    padding-bottom: $size;
  }
}

// Margin helpers
@each $size in $sizes {
  $i : index($sizes, $size);  
  .h-m--#{$i} {
    margin: $size;
  }
  .h-my--#{$i} {
    margin-top: $size;
    margin-bottom: $size;
  }
  .h-mx--#{$i} {
    margin-right: $size;
    margin-left: $size;
  }
  .h-mr--#{$i} {
    margin-right: $size;
  }
  .h-ml--#{$i} {
    margin-left: $size;
  }
  .h-mt--#{$i} {
    margin-top: $size;
  }
  .h-mb--#{$i} {
    margin-bottom: $size;
  }
}


.h-bg--primary {
    background: $blue;
}

.h-listReset {
    list-style: none;
}