// COLORS
$white: #FFFFFF;
$black: #000000;

$lightBlue: #527CEB;
$water: #03A7D3E6;
$salmon: #F9636B;
$magenta: #B6246E;

$blue: #0B1953;
$darkBlue: #01012F;

$gray-50: #E0E0E0;
$gray-100: #AAAAAA;
$gray-200: #BBBBBB;
$gray-300: #818A91;
$gray-400: #888888;
$gray-500: #444444;
$gray-600: #3D3D3D;
$gray-700: #333333;
$gray-800: #1E1E1E;
$gray-900: #0C0C0C;


// Opacity decrescent scale
$opacity-white-100: rgba(255, 255, 255, 0.902);
$opacity-white-200: rgba(255, 255, 255, 0.831);
$opacity-white-300: rgba(255, 255, 255, 0.502);
$opacity-white-400: rgba(255, 255, 255, 0.122);

$opacity-gray-100: #0C0C0C12;

$opacity-black-100: rgba(0, 0, 0, 0.902);
$opacity-black-200: rgba(0, 0, 0, 0.831);
$opacity-black-300: rgba(0, 0, 0, 0.502);
$opacity-black-400: rgba(0, 0, 0, 0.078);









